@font-face {
    font-family: 'Inter-Black';
    src: url('./Inter/Inter-Black.ttf');
}


@font-face {
    font-family: 'Inter-Bold';
    src: url('./Inter/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Inter-ExtraBold';
    src: url('./Inter/Inter-ExtraBold.ttf');
}

@font-face {
    font-family: 'Inter-ExtraLight';
    src: url('./Inter/Inter-ExtraLight.ttf');
}


@font-face {
    font-family: 'Inter-Light';
    src: url('./Inter/Inter-Light.ttf');
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('./Inter/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('./Inter/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('./Inter/Inter-SemiBold.ttf');
}

.font-inter-regular-16 {
    font-family: 'Inter-Regular' !important;
    font-size: 16px !important;
}

.font-inter-regular-14 {
    font-family: 'Inter-Regular' !important;
    font-size: 14px !important;
    font-weight: 400;
}

.font-inter-regular-18 {
    font-family: 'Inter-Regular' !important;
    font-size: 18px !important;
}

.font-inter-semibold-14 {
    font-family: 'Inter-SemiBold';
    font-size: 14px;
}



.font-inter-semibold-16 {
    font-family: 'Inter-SemiBold';
    font-size: 16px;
}


.font-inter-semibold-30 {
    font-family: 'Inter-SemiBold' !important;
    font-size: 30px !important;
}


.font-inter-bold-48 {
    font-family: 'Inter-Bold' !important;
    font-size: 48px !important;
    line-height: 60px !important;
}

.font-inter-extrabold-20 {
    font-family: 'Inter-ExtraBold';
    font-size: 20px !important;
    
}

.font-inter-extrabold-24 {
    font-family: 'Inter-ExtraBold';
    font-size: 24px !important;
}

.font-inter-extrabold-30 {
    font-family: 'Inter-ExtraBold';
    font-size: 30px !important;
}

.font-inter-extrabold-40 {
    font-family: 'Inter-ExtraBold';
    font-size: 40px !important;
}

.font-inter-extrabold-60 {
    font-family: 'Inter-ExtraBold' !important;
    font-size: 60px !important;
    line-height: 72px !important;
}

.font-inter-Light-18 {
    font-family: 'Inter-Light';
    font-size: 18px;
    line-height: 28px;
}


.font-inter-Light-14 {
    font-family: 'Inter-Light';
    font-size: 14px;
    line-height: 24px;
}


.font-inter-Light-48 {
    font-family: 'Inter-Light' !important;
    font-size: 48px !important;
    line-height: 28px !important;
}

.font-inter-Light-16 {
    font-family: 'Inter-Light' !important;
    font-size: 16px !important;
    line-height: 26px !important;
}


.font-inter-Medium-Bold-36 {
    font-family: 'Inter-Medium' !important;
    font-size: 36px !important;
    line-height: 18px !important;
    font-weight: bold !important;
}

.font-inter-Medium-18 {
    font-family: 'Inter-Medium' !important;
    font-size: 18px !important;
    line-height: 18px !important;
}

.font-size-30 {
    font-size: 30px !important;
}

.font-weigth-700 {
    font-weight: 700 !important;
}