.theme-speech {
    margin-top: 5em;
}
.theme-speech > h1 {
    font-weight: bold;
}


.theme-presentation {
    margin-top: 6em;
}

@media (max-width: 900px) {
    .theme-phone {
      margin-top: 30px;
    }


    .theme-speech {
        margin-top: 0em;
    }

    .theme-presentation {
        flex-direction: column;
    }
}