<div class="theme-background">

</div>
<div class="theme-presentation flex-row">
    <div class="theme-speech col-md-8 col-xs-12">
        <h1 class="font-inter-extrabold-60">The easiest way to manage projects</h1>
        <p class="font-inter-Light-18 mt-20 mb-20">From the small stuff to the big picture, organizes the work so teams know
            what to do, why it matters, and how to get it done.</p>
        <button routerLink="/login" mat-flat-button class="font-inter-semibold-16 background-primary">Get Start</button>
        <button mat-flat-button
            class="font-inter-semibold-16 background-transparent color-primary"><mat-icon>play_circle_outline</mat-icon>Watch
            video</button>
    </div>
    <div class="theme-phone col-md-4 col-xs-12 flex-row justify-content-center">
        <img src="assets/images/mock-phone.svg">
    </div>
</div>