.login {
    height: 100vh;
    width: 100%;
    display: flex;
}

.login-title {
    margin-top: 232px;
    width: 360px;
}

.login-inputs {
    margin-top: 20px;
    width: 360px;
}

.hint {
    display: none;
}

.background {
    background: url(/assets/images/login/login-background.jpg);
    height: 100vh;
}

.background__form {
  width: 100%;
  background-color: white;
  height: 100vh;
}

@media (max-width: 900px) {
   .login-inputs, .login-title {
    width: 200px;
   }
}

@media (max-width: 500px) {
    .background {
        display: none;
    }
    .login-form {
        width: 100% !important;
    }
 }
