<div class="theme-features flex-column align-items-center">
    <div class="row flex-column text-center col-md-8 mt-96">
        <h1 class="font-inter-Medium-Bold-36 mb-20">Tailor-made features</h1>
        <p class="font-inter-Light-18">Lorem ipsum is common placeholder text used to demonstrate the graphic elements
            of a document or visual presentation.</p>
    </div>
    <div class="row feature-list text-center w-100 mb-96">
        <div class="col-md-4 col-xs-6">
            <div class="feature-item">
                <img src="assets/images/theme-features-icos/base-feature icon.svg">
                <h3 class="font-inter-semibold-30">Robust workflow</h3>
                <p class="font-inter-Light-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
                    tristique ipsum.</p>
            </div>
        </div>
        <div class="col-md-4 col-xs-6">
            <div class="feature-item">
                <img src="assets/images/theme-features-icos/base-feature icon1.svg">
                <h3 class="font-inter-semibold-30">Robust workflow</h3>
                <p class="font-inter-Light-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
                    tristique ipsum.</p>
            </div>
        </div>
        <div class="col-md-4 col-xs-6">
            <div class="feature-item">
                <img src="assets/images/theme-features-icos/base-feature icon2.svg">
                <h3 class="font-inter-semibold-30">Robust workflow</h3>
                <p class="font-inter-Light-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
                    tristique ipsum.</p>
            </div>
        </div>
        <div class="col-md-4 col-xs-6">
            <div class="feature-item">
                <img src="assets/images/theme-features-icos/base-feature icon3.svg">
                <h3 class="font-inter-semibold-30">Robust workflow</h3>
                <p class="font-inter-Light-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
                    tristique ipsum.</p>
            </div>
        </div>
        <div class="col-md-4 col-xs-6">
            <div class="feature-item">
                <img src="assets/images/theme-features-icos/base-feature icon4.svg">
                <h3 class="font-inter-semibold-30">Robust workflow</h3>
                <p class="font-inter-Light-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
                    tristique ipsum.</p>
            </div>
        </div>
        <div class="col-md-4 col-xs-6">
            <div class="feature-item">
                <img src="assets/images/theme-features-icos/base-feature icon5.svg">
                <h3 class="font-inter-semibold-30">Robust workflow</h3>
                <p class="font-inter-Light-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
                    tristique ipsum.</p>
            </div>
        </div>

    </div>
    <div class="row w-100 mt-80 mb-80">
        <div class="col-md-6">
            <h1 class="font-inter-bold-48"><strong>Our 18 years of achievements</strong></h1>
            <p class="font-inter-regular-18">With our super powers we have reached this</p>
        </div>
        <div class="col-md-6 stadistic-items">
            <div class="stadistic-item mb-40 col-md-6 col-xs-6 flex-row">
                <img src="assets/images/theme-features-icos/base-feature icon6.svg">
                <div class="stadistic-text ml-16">
                    <h4 class="m-0 font-inter-Medium-Bold-36">10,000+</h4>
                    <span class="m-0 font-inter-regular-16">Downloads per day</span>
                </div>
            </div>
            <div class="stadistic-item mb-40 col-md-6 col-xs-6 flex-row">
                <img src="assets/images/theme-features-icos/base-feature icon7.svg">
                <div class="stadistic-text ml-16">
                    <h4 class="m-0 font-inter-Medium-Bold-36">2 Million</h4>
                    <span class="m-0 font-inter-regular-16">Users</span>
                </div>
            </div>
            <div class="stadistic-item mb-40 col-md-6 col-xs-6 flex-row">
                <img src="assets/images/theme-features-icos/base-feature icon9.svg">
                <div class="stadistic-text ml-16">
                    <h4 class="m-0 font-inter-Medium-Bold-36">500+</h4>
                    <span class="m-0 font-inter-regular-16">Clients</span>
                </div>

            </div>
            <div class="stadistic-item mb-40 col-md-6 col-xs-6 flex-row">
                <img src="assets/images/theme-features-icos/base-feature icon7.svg">
                <div class="stadistic-text ml-16">
                    <h4 class="m-0 font-inter-Medium-Bold-36">140</h4>
                    <span class="m-0 font-inter-regular-16">Countries</span>
                </div> 

            </div>
        </div>
    </div>
</div>