.home-body {
    /* Background pattern from Toptal Subtle Patterns */
    height: 100vh;
    width: 100%;
    background-image:
        url("./../../../assets/images/fullscreen.jpg");
    background-repeat: repeat, repeat;
    background-position: right, left;
}

.home-container {
    margin-left: 5em;
    margin-right: 5em;
}



@media (max-width: 900px) {
    .home-container {
        margin-left: 2em;
        margin-right: 2em;
    }
}

app-theme-presentation, app-theme-features{
    min-height: 100vh;
    width: 100%;
    display: flex;
}