.users-container {
    min-height: 100vh;
    background: white !important;
}

mat-list-item {
    padding: 0 24px;
}

.tr-table {
    width: 100%;

    .name {
        width: 200px;
    }

    .username {
        width: 200px;
    }

    .address {
        width: 500px;
    }

    .phone {
        width: 200px;
    }
    .email {
        width: 300px;
    }

    .post {
        width: 50px;
    }
}
