<div class="footer w-100 flex-row">
    <div class="container w-100 flex-row">
        <div class="col-md-5 col-xs-6 flex-column color-white mb-64 mt-64">
            <img class="logo mb-24" src="assets/images/logo.svg">
            <div class="mb-24 font-inter-regular-16">
                <span>Download now</span>
                <span>Licence</span>
            </div>
            <div class="mb-24 font-inter-regular-16">
                <span>About</span>
                <span>features</span>
                <span>Pricing</span>
                <span>News</span>
                <span>Help</span>
                <span>Contact</span>
            </div>
            <div>
                <span class="font-inter-Light-14">© 2021 Landify UI Kit. All rights reserved</span>
            </div>
        </div>
        <div class="contact-information col-md-5 flex-column color-white mb-64 mt-64">
            <img class="logo mb-24" src="assets/images/logo.svg">
            <div class="mb-24 font-inter-regular-16">
                <span>Contáctanos</span>
            </div>
            <div class="mb-24 font-inter-regular-16">
                <span>Whatsapp</span>
                <span>978 566 567</span>
                <span>967 567 565</span>
            </div>
            <div>
                <span class="font-inter-Light-14">© 2021 Landify UI Kit. All rights reserved</span>
            </div>
        </div>
        <div class="col-md-2 col-xs-6 mb-64 mt-64 color-white flex-column align-items-end">
            
            <div class="mb-24">
                <span class="font-inter-Medium-18">Get the App</span>
            </div>
            <img class="store mb-24" src="assets/images/footer-icons/play-store.svg">
            <img class="store mb-24" src="assets/images/footer-icons/play-store.svg">
        </div>
    </div>
</div>